// @import "./valuable.scss";

header {
  position: relative;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 2px solid $bgColor;
  background-color: #fff;
}

.login-menu {
  @include left-top-menu($red);
  span {
    &:last-child::before {
      content: "|";
      margin: 0 4px;
    }
  }
}

.profile-menu {
  @include left-top-menu("black");
  &:hover {
    cursor: pointer;
  }
  i {
    margin-left: 8px;
    position: relative;
    top: 2px;
    color: $darkGray;
  }
}

.sub-menu ul {
  display: flex;
  li {
    margin-left: 15px;
  }
  i {
    color: $darkGray;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 6px;
}

.login-modal {
  width: 272px;
  height: 405px;
  padding: 10px 20px;
  input {
    font-size: 13px;
    padding: 8px;
  }
  button {
    text-align: center;
    width: 100%;
  }
  .close {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: $darkGray;
  }
}

.login-modal form {
  text-align: center;
  button {
    padding: 8px 0px;
    background-color: $red;
    color: #fff;
    font-size: 16px;
    margin: 27px auto 7px;
    border-radius: 4px;
  }
  input {
    width: 100%;
    height: 34px;
    padding: 3px 8px;
    border: 1px solid $fontGray;
    border-radius: 4px;
    font-weight: 400;
    color: $darkGray;
  }
  input::placeholder {
    font-weight: 500;
    color: $fontGray;
  }
  input:first-child {
    margin-bottom: 10px;
  }
  &::before {
    content: "";
    display: block;
    background-image: url("../assets/logo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 53px;
    height: 53px;
    margin: 8px auto 64px;
  }
}

.forget-pw {
  color: $darkGray;
  font-size: 12px;
}

.join {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: $red;
  transform: translate(-50%);
}

.hiding {
  display: none;
}

.drop-menu {
  position: absolute;
  left: 16px;
  top: 48px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1);
  li {
    padding: 12px 0;
    border-bottom: 1px solid #ececec;
    &:last-child {
      border: none;
      display: flex;
      flex-direction: column;
    }
  }
}

.drop-menu {
  z-index: 1;
  li {
    display: flex;
    flex-direction: column;
  }
  span {
    line-height: 1.6;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 300;
    color: $fontGray;
  }
  button {
    padding: 0 18px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}
