main {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 678px;
  height: calc(100vh - 53px);
  margin-bottom: 14px;
}

.container-left {
  position: relative;
  height: 100%;
  width: 355px;
  background: #fff;
  border-right: 1px solid $bgColor;
}

.nav {
  padding: 10px 6px;
}

.nav-todo {
  border-bottom: 1px solid #ececec;
}

.nav-todo li {
  height: 35px;
  border-radius: 4px;
}

.add-project {
  position: absolute;
  bottom: 2px;
  border-top: 1px solid #ececec;
  width: 100%;
  height: 45px;
  padding: 10px;
  button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.add-project button:first-child {
  &::before {
    content: "+";
    margin-right: 6px;
    font-size: 28px;
  }
  span {
    position: relative;
    top: -4px;
  }
}

.project-modal {
  @extend %modal;
  width: 340px;
  text-align: center;
  padding: 18px;
  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  input {
    display: block;
    width: 100%;
    padding: 8px 6px;
    border-radius: 4px;
    border: 1px solid $lightGray;
    margin-bottom: 16px;
  }
}

.add-project-modal-btn button {
  width: 87px;
  height: 37px;
  border-radius: 4px;
  position: relative;
  left: 63px;
  &:last-child {
    color: white;
    background: $red;
    opacity: 0.9;
    border: none;
  }
  &:first-child {
    color: black;
    background: #fff;
    border: 1px solid $lightGray;
  }
}

.drop-menu-project {
  @extend %drop-menu;
  position: absolute;
  width: 93px;
  margin-top: -52px;
  padding: 6px 0px;
  width: 62%;
  li {
    padding: 6px 14px;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}

.palette-column {
  display: flex;
  justify-content: space-between;
  width: 301px;
  position: relative;
  left: 2px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.palette-column:first-child {
  margin-bottom: 8px;
  .color-circle:nth-child(1) {
    background: #aebdc3;
  }
  .color-circle:nth-child(2) {
    background: #768bfd;
  }

  .color-circle:nth-child(3) {
    background: #67c3e8;
  }

  .color-circle:nth-child(4) {
    background: #f4b357;
  }

  .color-circle:nth-child(5) {
    background: #c540b5;
  }

  .color-circle:nth-child(6) {
    background: #f4658c;
  }

  .color-circle:nth-child(7) {
    background: #f7d550;
  }

  .color-circle:nth-child(8) {
    background: #a0ce62;
  }

  .color-circle:nth-child(9) {
    background: #ff7f55;
  }

  .color-circle:nth-child(10) {
    background: #a66ff0;
  }
}

.palette-column:last-child {
  margin-bottom: 17px;
  .color-circle:nth-child(1) {
    background: #1eacdc;
  }
  .color-circle:nth-child(2) {
    background: #84e2ae;
  }

  .color-circle:nth-child(3) {
    background: #8d4ce3;
  }

  .color-circle:nth-child(4) {
    background: #4670f6;
  }

  .color-circle:nth-child(5) {
    background: #e95ed3;
  }

  .color-circle:nth-child(6) {
    background: #ec6b66;
  }

  .color-circle:nth-child(7) {
    background: #a4a4a5;
  }

  .color-circle:nth-child(8) {
    background: #b69a8f;
  }

  .color-circle:nth-child(9) {
    background: #62e0c5;
  }

  .color-circle:nth-child(10) {
    background: #4e4e4e;
  }
}
.nav-project {
  margin-top: 16px;
}

.nav-project li {
  height: 100%;
  background: gray;
  padding: 12px;
  margin-bottom: 2px;
  border-radius: 8px;
  span {
    width: 9px;
    height: 9px;
    display: inline-block;
    content: "";
    border-radius: 50%;
    margin-right: 12px;
  }
}

.container-right {
  background-color: #f3f4f6;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px;

  h2 {
    font-size: 21px;
    margin-bottom: 27px;
    font-weight: 600;
  }
}

.todo-info {
  width: 100%;
  padding: 9px 0px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    text-align: center;
    font-size: 32px;
    color: $red;
    &::after {
      font-size: 14px;
      display: block;
      margin-top: 5px;
      color: $darkGray;
    }
  }
  span:first-child {
    &::after {
      content: "예정 시간(h)";
    }
  }
  span:nth-child(2) {
    &::after {
      content: "완료할 작업";
    }
  }
  span:nth-child(3) {
    &::after {
      content: "완료한 시간(h)";
    }
  }
  span:last-child {
    &::after {
      display: block;
      content: "완료한 작업";
    }
  }
}

.todo-input {
  @extend %todo-list;
  margin-bottom: 24px;
  ::placeholder {
    color: $lightGray;
  }
  &::before {
    content: "+";
    font-size: 27px;
    height: 100%;
    display: inline-block;
    position: relative;
    top: -5px;
    color: $lightGray;
  }
  input {
    width: 80%;
    position: relative;
    top: -10px;
    margin-left: 10px;
  }
}

.todo-proceed-box {
  margin-bottom: 14px;
  h3 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  ul li {
    @extend %todo-list;
    margin-bottom: 5px;
  }
}

.todo-complete-box {
  text-align: center;
}

.todo-complete-btn {
  background-color: #ffff;
  padding: 1px 19px;
  &::after {
    margin-left: 2px;
    content: "▼";
    height: 100%;
    font-size: 1px;
    position: relative;
    top: -1px;
  }
}
