@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box; }

body,
html {
  font-family: "Noto Sans KR", sans-serif; }

a,
button {
  font-family: "Noto Sans KR", sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  padding: 0; }

button:active {
  border: none; }

input {
  padding: 0;
  outline: 0;
  border: 1px solid black; }

header {
  position: relative;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 2px solid #f3f4f6;
  background-color: #fff; }

.login-menu {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 15px; }
  .login-menu img {
    width: 35px;
    height: 31px;
    border-radius: 50%;
    margin-right: 10px; }
  .login-menu span {
    color: #fd5653; }
  .login-menu span:last-child::before {
    content: "|";
    margin: 0 4px; }

.profile-menu {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 15px; }
  .profile-menu img {
    width: 35px;
    height: 31px;
    border-radius: 50%;
    margin-right: 10px; }
  .profile-menu span {
    color: "black"; }
  .profile-menu:hover {
    cursor: pointer; }
  .profile-menu i {
    margin-left: 8px;
    position: relative;
    top: 2px;
    color: #9b9b9b; }

.sub-menu ul {
  display: flex; }
  .sub-menu ul li {
    margin-left: 15px; }
  .sub-menu ul i {
    color: #9b9b9b; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; }

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 6px; }

.login-modal {
  width: 272px;
  height: 405px;
  padding: 10px 20px; }
  .login-modal input {
    font-size: 13px;
    padding: 8px; }
  .login-modal button {
    text-align: center;
    width: 100%; }
  .login-modal .close {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #9b9b9b; }

.login-modal form {
  text-align: center; }
  .login-modal form button {
    padding: 8px 0px;
    background-color: #fd5653;
    color: #fff;
    font-size: 16px;
    margin: 27px auto 7px;
    border-radius: 4px; }
  .login-modal form input {
    width: 100%;
    height: 34px;
    padding: 3px 8px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    font-weight: 400;
    color: #9b9b9b; }
  .login-modal form input::placeholder {
    font-weight: 500;
    color: #c7c7c7; }
  .login-modal form input:first-child {
    margin-bottom: 10px; }
  .login-modal form::before {
    content: "";
    display: block;
    background-image: url("../assets/logo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 53px;
    height: 53px;
    margin: 8px auto 64px; }

.forget-pw {
  color: #9b9b9b;
  font-size: 12px; }

.join {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: #fd5653;
  transform: translate(-50%); }

.hiding {
  display: none; }

.drop-menu {
  position: absolute;
  left: 16px;
  top: 48px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1); }
  .drop-menu li {
    padding: 12px 0;
    border-bottom: 1px solid #ececec; }
    .drop-menu li:last-child {
      border: none;
      display: flex;
      flex-direction: column; }

.drop-menu {
  z-index: 1; }
  .drop-menu li {
    display: flex;
    flex-direction: column; }
  .drop-menu span {
    line-height: 1.6;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 300;
    color: #c7c7c7; }
  .drop-menu button {
    padding: 0 18px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300; }
    .drop-menu button:hover {
      background: rgba(0, 0, 0, 0.04); }

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 678px;
  height: calc(100vh - 53px); }

.container-left {
  position: relative;
  height: 100%;
  width: 275px;
  background: #fff;
  border-right: 1px solid #f3f4f6; }

.nav {
  padding: 10px; }

.nav-todo {
  border-bottom: 1px solid #ececec; }

.nav-todo li {
  height: 35px;
  border-radius: 4px; }

.add-project {
  position: absolute;
  bottom: 2px;
  border-top: 1px solid #ececec;
  width: 100%;
  height: 45px;
  padding: 10px; }
  .add-project button {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.add-project button:first-child::before {
  content: "+";
  margin-right: 6px; }

.project-modal {
  width: 340px;
  height: 160px;
  text-align: center;
  padding: 18px; }
  .project-modal h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px; }
  .project-modal input {
    display: block;
    width: 100%;
    padding: 8px 6px;
    border-radius: 4px;
    border: 1px solid #dddcdc; }
  .project-modal .add-project-modal-btn {
    position: absolute;
    bottom: 16px;
    right: 16px; }

.add-project-modal-btn button {
  width: 87px;
  height: 37px;
  border-radius: 4px; }
  .add-project-modal-btn button:last-child {
    color: white;
    background: #fd5653;
    opacity: 0.9;
    border: none; }
  .add-project-modal-btn button:first-child {
    color: black;
    border: 1px solid #dddcdc; }

.drop-menu-project {
  position: absolute;
  width: 93px;
  margin-top: -52px; }

body {
  height: 100vh; }
